.producto-card {
    width: 280px;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    margin: 16px;
    background-color: #e02323;
  }

  .item-card {
    width: 280px;
    border: 5px solid #2db629;
    border-radius: 8px;
    margin: 3px;
    background-color: #23e0d0;
    /* Un valor: los 4 lados */
    /*padding: 20px;
  
    /* Dos valores: vertical | horizontal */
    /*padding: 15px 25px;*/
  
    /* Tres valores: top | horizontal | bottom */
    /*padding: 10px 20px 15px;*/
  
    /* Cuatro valores: top | right | bottom | left */
    padding: 10px 20px 15px 20px;
  }

  /* Sin border-box */
.producto1-card {
    width: 280px;
    padding: 20px;
    border: 1px solid #a71ac4;
    /* Ancho real: 280 + 20+20 + 1+1 = 322px ← sorpresa */
  }
  
  /* Con border-box: el width incluye padding y border */
  * {
    box-sizing: border-box;
  }
  
  .producto2-card {
    width: 280px;
    padding: 20px;
    border: 1px solid #c2b618;
    /* Ancho real: 280px ← predecible */
  }